.miniProfile {
  a {
    display: flex;
    align-items: center;
  }
  .miniProfileImage {
    width: 40px;
    border-radius: 50%;
  }
  .miniProfileName {
    margin-left: 10px;
    font-weight: bold;
  }
}
